.centered, header img {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #181422;
  background-image: url(../img/nexus.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

header img {
  display: block;
}

#main-container .container {
  display: inline-block;
  margin: 20px;
  color: #d3d9de;
}

#main-container .container p {
  color: #d3d9de;
  text-align: center;
}

#main-container .container img {
  padding: 2px;
  background-color: #025aa7;
  border: solid 1px black;
  border-radius: 50%;
}
